.api-data{
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: yellow; */
    padding: 8px 10px;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,0.54);
}
.api-data-head{
    display: flex;
    justify-content: space-between;
    padding: 2.1rem;
}
.api-data p{
    font-weight: 500;
    font-size: max(1vw, 15px);
    width: 70%;
    text-align: center;
    margin: 10px auto;
    /* margin-left: 19rem; */
}
.api-data video, img{
    width: 450px;
    height: 250px;
    margin-top: 1.2rem;
}
.api-data h4{
    font-weight: 500;
    font-size: 2.1rem;
    margin: 20px 0px;
}
