.sidebar{
    width: 24%;
    min-height: 100vh;
    border-right: 1.5px solid #a9a9a9;
    box-shadow: 0 10px 20px 0px #5706B8; /*#0c0249*/
    border-top: 0;
    font-size: max(1vw, 10px);
    background: transparent;
    background-color: #00000056;
    color: #fff0ed;
    background-image: url(../../assets/a3.jpg);
    background-size: cover;
}
.sidebar-handle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.1rem 1.1rem;
    padding-left: 20px;
}
.sidebar-handle button{
    border: 1px solid #8cfed4;
    outline: 1px solid #0c0249;
    padding: 0.56rem;
    cursor: pointer;

}
.sidebar-handle .logo{
    width: 190px;
    height: 90px;
    /* aspect-ratio: 3/2; */
    object-fit: contain;
    /* mix-blend-mode: lighten; */
    background-blend-mode: color-burn;
}
.sidebar-options{
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 17px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 15px 12px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}
.sidebar-option span{
    font-size: 1.4rem;
}
.sidebar-option.active{ /*NavLink active gets added*/
    background-color: #032998;
    border-color: #8cfed4;
}

@media (max-width: 840px) {
    .sidebar-option p{
        display: none;
    }
    .sidebar-handle .logo{
        width: 140px;
    }
    
}

@media (max-width: 650px) {
    .sidebar-option p{
        display: none;
    }
    .sidebar-handle .logo{
        width: 60px;
    }
    
}
