<% layout("/layouts/boilerplate") %>
<body style="background-image: linear-gradient(135deg, #0172af, #74febd);">
<div class="row mt-4"> 
    <div class="col-6 offset-3 sign-box">
   <h2 class="mb-3" style="font-weight: 700;">Forgot Password? Login with Email</h2> 
   
   <form action="/verify" method="post" novalidate class="needs-validation">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="enter your registered email" required /> 
    </div>
    <button class="btn btn-outline-success">Verify</button>
    
    </div>
       </form>
       </div>
       </div>

       <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
    </body>